body {
  margin: 0;
  padding: 0;
  background-color: #020202;
  scroll-behavior: smooth;
}

.container{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(201, 215, 166);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
     
}

.header{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  z-index: 999;
  background-color: hsla(69, 89%, 7%, 0.407);
  backdrop-filter: blur(10px);
}

.head-left{
  display: flex;
  align-items: center;
  gap: 20px;
}

.head-left img{
  width: 60px;
  height: 50px;
}


.head-right{
  display: flex;
  align-items: center;
  gap: 25px;
}

.head-right a{
  text-decoration: none;
  color: #c9fbd5;
  font-size: 15px;
  transition: color 0.3s;
}

.head-right a:hover{
  color: #8cbfe6;
}

.head-right button{
  background-color: #bde1a7;
  height: 60px;
  width: 60px;
  border-radius: 200px;
  font-weight: 400;
  color: #070b0a;
}

#music-toggle {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#music-toggle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  transition: transform 0.3s;
}

#music-toggle:hover img {
  transform: scale(1.1);
}


.hero-section{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-vid{
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-vid video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-info{
  z-index: 1;
  position:absolute;
  top: 80px;
  left: 50px;
}

.hero-info h1{
  font-size: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 20px;
}

.hero-info p{
 font-size: 30px;
 color: rgb(249, 250, 246);
 max-width: 210px;
}

.hero-info button{
  background-color: #e6edc8;
  border:2px solid #446b59;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(43, 76, 58);
  transition: 0.3s;
}

.hero-info button:hover{
  background-color: transparent;

  color: white;
  box-shadow: 0 0 15px #4ca12a;
}

.gaming-text{
 font-size: 100px;
 font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
 margin: 0;
 position: absolute;
 right: 20px;
 bottom: 30px;
}

.next-btn{
  width: 150px;
  height: 150px;
  background-color: #dadeb5;
  position: absolute;
  left: 45%;
  bottom: 45%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  transition: 0.5s;
}

.next-btn:hover{
  width: 200px;
  height: 200px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.774);
}
.about-section{
  width: 100%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.image-box{
  width: 360px;
  height: 510px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.image-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-section p{
  font-size: 12px;
}

.about-section h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  font-size: 100px;
  max-width: 1150px;
  text-align: center;
  margin: 25px 0;
  text-transform: uppercase;
  background: linear-gradient(to right, #b4f8c8, #f6f49d, #9ae5ff, #afffd8, #8df1fc);
  background-size: 200%;
  background-position: 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;

}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

.about-section h4{
  margin-top: 50px;
  margin-bottom: 0;
}

.about-section h5{
  margin-top: 5px;
  color: gray;
  max-width: 425px;
  text-align: center;
  line-height: 25px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.stones-img{
  position: absolute;
  margin-top: 22%;
  width: 500px;
}

.info-section{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  margin-top: 100px;
}


.info-cards{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.card{
  position: relative;
  width: auto;
  height: 40vh;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 20px;
  transition: 0.5s;
}


.card h1{
  position: absolute;
  margin: 0;
  top: 10px;
  left: 5%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  z-index: 1;
  background: linear-gradient(to right, #b4f8c8, #f6f49d, #9ae5ff, #afffd8, #8df1fc);
  background-size: 200%;
  background-position: 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

.card p{
  position: absolute;
  top: 80px;
  left: 5%;
  z-index: 1;
  max-width: 250px;
  color: lightgray;
}

.card video {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.card button {
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: 10px 25px;
  border: 1px solid gray;
  background-color: #0f1217;
  color: gray;
  border-radius: 20px;
  box-shadow: 0 0 5px lightgray;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  box-shadow: 0 0 15px lightgray;
  opacity: 0.7;
}

.card:hover{
  box-shadow: 0 0 15px lightgray;
}

.card:nth-child(1){
  grid-column: span 2;
}

.card:nth-child(2){
  grid-row: span 2;
  height: 83vh;
}

.contact-section {
  position: relative;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-bottom: 100px;
}

.contact-section .img1 {
  position: absolute;
  top: 30%;
  right: 20px;
  height: 400px;
  clip-path: polygon(25% 0%, 89% 1%, 89% 87%, 4% 81%);
}

.contact-section .img2 {
  position: absolute;
  left: 50px;
  top: 10px;
  height: 200px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 21% 100%, 0 44%);
}

.contact-section .img3 {
  position: absolute;
  left: 5%;
  bottom: 5%;
  height: 250px;
  width: 250px;
  clip-path: polygon(56% 0, 100% 70%, 50% 100%, 0 52%);
}

.contact-section p{
  margin-top: 100px;
}

.contact-section h1{
  font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
  max-width: 550px;
  text-align: center;
  background: linear-gradient(to right, #b4f8c8, #f6f49d, #9ae5ff, #afffd8, #8df1fc);
  background-size: 200%;
  background-position: 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

.contact-section button {
  bottom: 5%;
  left: 5%;
  padding: 10px 25px;
  border: 1px solid gray;
  background-color: #0f1217;
  color: gray;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(211, 211, 211, 0.772);
  cursor: pointer;
  transition: 0.3s;
}

.contact-section:hover{
  box-shadow: 0 0 15px rgba(211, 211, 211, 0.833);
  opacity: 0.7;
}

.footer {
  background-color: #222;  
  color: #b1dee7;
  text-align: left;
  padding: 15px 30px;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

.footer a {
  color:  #bde1a7; 
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  margin: 5px 0;
}

 


/*blur effect animation*/

.autoBlur {
  animation: autoBlurAnimation linear both;
  animation-timeline: view();
}

@keyframes autoBlurAnimation {
  0%{
    filter: blur(40px);
  }
  40%,60% {
    filter: blur(0);
    transform: translateY(0px);
    opacity:1;
  }
  100% {
    filter: blur(40px);
    transform: translateY(-200px);
    opacity: 0;
  }
}

/*autotakefull animation*/
.autoTakeFull{
  animation: autoTakeFullAnimation both;
  animation-timeline: view(70% 65%);
}

@keyframes autoTakeFullAnimation{
  to{
     width: 100%;
     height: 100vh;
     border-radius: 0;
     margin-bottom: 100px;
  }
}

/*autodisplay animation*/
.autoDisplay{
  animation: autoDisplayAnimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoDisplayAnimation{
  from{
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  } to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media screen and (max-width: 650px){
  header{
      padding: 0 10px;
  }
  .head-left button{
    display: none;
  }
  .head-right a{
    font-size: 12px;
    padding: 0 5px;
  }
  .hero-info{
    left: 5;
  }
  .hero-section h1{
    font-size: 90px;
  }
  .next-btn{
    left: 25%;
    top: 40%;
  }
  .about-section{
    margin: 0;
  }
  .about-section h1{
    font-size: 50px;
  }
  .image-box{
    width: 300px;
    height: 500px;
  }
  .about-section h4, .about-section h5{
    max-width: 350px;
    text-align: center;
  }
  .contact-section .img1{
    width: 150px;
    height: 200px;
    right: 0;
    top: 20px;
  }
  .contact-section .img2{
    top: 30px;
    left: -40px;
    width: 180px;
    height: 180px;
  }
  .contact-section .img3{
    left: -40px;
    bottom: 0;
    width: 150px;
    height: 180px;
  }
  .contact-section h1{
    font-size: 60px;
    max-width: 300px;
  }
  .stones-img{
    margin-top: 80%;
    width: 400px;
  }
}

